{% extends 'base.html.twig' %}

{% block title %}Nuevo evento{% endblock %}

{% block main %}
    
    <main class="w-75 mx-auto mt-5 mb-5">
            {{ form(formulario) }}
    </main>
{% endblock %}
