//BUTTON
.btn {
	text-align: center;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	cursor: pointer;
	border-radius: 3.5rem;
	box-shadow: none!important;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	&:hover, &:active, &:focus {
		outline: none;
		
	}
	&.btn-primary {
		background-color:$primaryColor !important;
		border: none;
		color: $black !important;
		&:hover {
			transition: .3s all ease;
			font-weight: bolder;
        
		}
		
		
	}

	&.btn-outline-primary {
		border: 0.1rem solid $white;
		background: transparent;
		color : $white;
		&:hover {
			border: 1px solid transparent;
			background-color: $secondaryColor;
			color :$black;
			
		}
	}
	
	&.btn-secondary{
		
		background: $secondaryColor !important;
		border: 0.1rem solid $secondaryColor !important;
		color: black !important;
		&:hover {
			border: 1px solid $secondaryColor;
			background: transparent;
			transition: .3s all ease;
			font-weight: bolder;
        
		}
		&-dark{
			background: $primaryColorDark !important;
			border: 0.1rem solid $primaryColorDark !important;
			color: $white !important;
		}
	}

	&.btn-transparent{
		background: transparent;
		border:none;
		box-shadow: none;
	}
        
	&.btn-login{
	background-color: $primaryColor !important;
	outline: none;
	padding-inline: 8rem;
	font-weight: 600;
	color:$white;
	&:hover {
		transition: .3s all ease;
		font-weight: bolder;
	
	}
}
}



