{% extends 'base.html.twig' %}

{% block title %}Actualizar historia{% endblock %}

{% block main %}
    
    <main class="w-75 mx-auto mt-5 mb-5">
        <h2>Actualización de los datos de historia </h2>
        <p>Separe con '//' los distintos párrafos del texto</p>
            {{ form(formulario) }}
    </main>
{% endblock %}

