#museum {
    background-color: rgba($primaryColorLight, 0.1);
    img {
        width: 35rem;
            top: 10rem;
            position: -webkit-sticky;
            position: sticky;
            text-decoration: none;
            width: 100%;
            height: 21.5rem;
    }
}
