@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800&family=Montserrat:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800&family=Montserrat:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800&family=Montserrat:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800&family=Montserrat:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800&family=Montserrat:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800&family=Montserrat:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800&family=Montserrat:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800&family=Montserrat:wght@300;400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

.form-control, .form-select, p {
  font-size: 1.6rem;
}

.card {
  font-size: 1.4rem;
}

.navbar-brand, h2 {
  font-family: "Lexend Deca", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
}
a:hover {
  color: #55aacc;
}

i {
  pointer-events: none;
}

.btn {
  margin: 1rem;
  text-align: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  cursor: pointer;
  border-radius: 3.5rem;
  box-shadow: none !important;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.btn:hover, .btn:active, .btn:focus {
  outline: none;
}
.btn.btn-primary {
  background-color: #55aacc;
  border: none;
  color: #000;
}
.btn.btn-primary:hover {
  transition: 0.3s all ease;
  font-weight: bolder;
  color: white;
}
.btn.btn-outline-primary {
  border: 0.1rem solid white;
  background: transparent;
  color: white;
}
.btn.btn-outline-primary:hover {
  border: 1px solid transparent;
  background-color: #F2BA52;
  color: #000;
}
.btn.btn-secondary {
  background: #F2BA52;
  border: 0.1rem solid #F2BA52;
  color: black;
}
.btn.btn-secondary:hover {
  color: white;
  transition: 0.3s all ease;
  font-weight: bolder;
}
.btn.btn-secondary-dark {
  background-color: transparent;
  color: #192340;
  border: 1px solid #192340;
}
.btn.btn-secondary-dark:hover {
  background: #192340;
  border: 0.1rem solid #192340;
  color: white;
}
.btn.btn-transparent {
  background: transparent;
  border: none;
  box-shadow: none;
}
.btn.btn-login {
  background-color: #55aacc !important;
  outline: none;
  padding-inline: 8rem;
  font-weight: 600;
  color: white;
}
.btn.btn-login:hover {
  transition: 0.3s all ease;
  font-weight: bolder;
}

.admin-btn {
  font-size: 2rem;
  margin: 1rem;
  border: 1px solid lightgray;
  border-radius: 8px;
  height: 5rem;
}
.admin-btn:hover {
  background-color: #55aacc;
  font-size: x-large;
}
.admin-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}
.admin-btn a:hover {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

.form-control, .form-select, p {
  font-size: 1.6rem;
}

.card {
  font-size: 1.4rem;
}

.navbar-brand, h2 {
  font-family: "Lexend Deca", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
}
a:hover {
  color: #55aacc;
}

#header {
  background: #55aacc;
}

/* NAVBAR */
.navbar-light .navbar-brand {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-item .nav-link {
  font-size: 1.4rem;
}

@media screen and (min-width: 1200px) {
  .navbar-light .navbar-brand {
    font-size: 3rem;
  }

  .nav-item .nav-link {
    font-size: 2rem !important;
  }
}
.nav-item .nav-link {
  font-size: 1.8rem !important;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-toggler {
  background: white;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: 0.2rem 1rem;
}

.nav-link.active, .nav-link:focus {
  color: white;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 1.8rem;
  line-height: 0.3;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #F2BA52;
  font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  font-size: larger;
  color: white;
}

ul .dropdown-menu {
  background-color: transparent;
  border: none;
  text-align: center;
}
ul .dropdown-menu a {
  font-size: 1.6rem;
  color: white;
}

/* Usuario */
#user {
  color: white;
  font-size: 3rem;
}
#user:hover {
  color: #F2BA52;
  transition: 0.3s ease-in-out;
}

/* BUSCADOR */
#search__form .form-control:focus {
  border: none;
  box-shadow: none;
}

#search__form__sm-icon {
  justify-self: left;
}

@media screen and (min-width: 992px) {
  ul .dropdown-menu {
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
  }
  ul .dropdown-menu a {
    color: black;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

.form-control, .form-select, p {
  font-size: 1.6rem;
}

.card {
  font-size: 1.4rem;
}

.navbar-brand, h2 {
  font-family: "Lexend Deca", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
}
a:hover {
  color: #55aacc;
}

#footer {
  height: 17rem;
  background-color: #192340;
  color: white;
  font-size: 1.2rem;
  line-height: normal;
}

#footer a {
  color: white;
  text-decoration: none;
}
#footer a:hover {
  font-weight: 700;
}

main {
  min-height: calc(100vh - 19rem);
}

menu-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.menu-item:nth-of-type(1), .menu-item:nth-of-type(2), .menu-item:nth-of-type(3) {
  margin-bottom: 4rem;
}

.menu-item img {
  width: 100%;
  box-shadow: 3px 4px 20px -3px #000000;
}

/* hover effect */
.img__wrap {
  position: relative;
  display: inline-block;
  padding: 0.5rem;
}

.img__img {
  vertical-align: bottom;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: $primaryColor;*/
  color: #F2BA52;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  /* transition effect. not necessary */
  transition: opacity 0.3s, visibility 0.3s;
}

.img__wrap:hover .img__img {
  filter: blur(5px);
  filter: brightness(40%);
}
.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}
.img__wrap:hover .img__description_layer .img__description {
  transform: translateY(0);
}

.img__description {
  transition: 1s;
  transform: translateY(1rem);
  text-align: center;
  font-size: 2.5rem;
  color: #F2BA52;
  text-decoration: none;
  text-transform: uppercase;
}
.img__description:hover {
  color: #F2BA52;
}

.carousel-item img {
  height: 35rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

.form-control, .form-select, p {
  font-size: 1.6rem;
}

.card {
  font-size: 1.4rem;
}

.navbar-brand, h2 {
  font-family: "Lexend Deca", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
}
a:hover {
  color: #55aacc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

.form-control, .form-select, p {
  font-size: 1.6rem;
}

.card {
  font-size: 1.4rem;
}

.navbar-brand, h2 {
  font-family: "Lexend Deca", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
}
a:hover {
  color: #55aacc;
}

#header {
  background: #55aacc;
}

/* NAVBAR */
.navbar-light .navbar-brand {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-item .nav-link {
  font-size: 1.4rem;
}

@media screen and (min-width: 1200px) {
  .navbar-light .navbar-brand {
    font-size: 3rem;
  }

  .nav-item .nav-link {
    font-size: 2rem !important;
  }
}
.nav-item .nav-link {
  font-size: 1.8rem !important;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-toggler {
  background: white;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: 0.2rem 1rem;
}

.nav-link.active, .nav-link:focus {
  color: white;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 1.8rem;
  line-height: 0.3;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #F2BA52;
  font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  font-size: larger;
  color: white;
}

ul .dropdown-menu {
  background-color: transparent;
  border: none;
  text-align: center;
}
ul .dropdown-menu a {
  font-size: 1.6rem;
  color: white;
}

/* Usuario */
#user {
  color: white;
  font-size: 3rem;
}
#user:hover {
  color: #F2BA52;
  transition: 0.3s ease-in-out;
}

/* BUSCADOR */
#search__form .form-control:focus {
  border: none;
  box-shadow: none;
}

#search__form__sm-icon {
  justify-self: left;
}

@media screen and (min-width: 992px) {
  ul .dropdown-menu {
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
  }
  ul .dropdown-menu a {
    color: black;
  }
}
i {
  pointer-events: none;
}

.btn {
  margin: 1rem;
  text-align: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  cursor: pointer;
  border-radius: 3.5rem;
  box-shadow: none !important;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.btn:hover, .btn:active, .btn:focus {
  outline: none;
}
.btn.btn-primary {
  background-color: #55aacc;
  border: none;
  color: #000;
}
.btn.btn-primary:hover {
  transition: 0.3s all ease;
  font-weight: bolder;
  color: white;
}
.btn.btn-outline-primary {
  border: 0.1rem solid white;
  background: transparent;
  color: white;
}
.btn.btn-outline-primary:hover {
  border: 1px solid transparent;
  background-color: #F2BA52;
  color: #000;
}
.btn.btn-secondary {
  background: #F2BA52;
  border: 0.1rem solid #F2BA52;
  color: black;
}
.btn.btn-secondary:hover {
  color: white;
  transition: 0.3s all ease;
  font-weight: bolder;
}
.btn.btn-secondary-dark {
  background-color: transparent;
  color: #192340;
  border: 1px solid #192340;
}
.btn.btn-secondary-dark:hover {
  background: #192340;
  border: 0.1rem solid #192340;
  color: white;
}
.btn.btn-transparent {
  background: transparent;
  border: none;
  box-shadow: none;
}
.btn.btn-login {
  background-color: #55aacc !important;
  outline: none;
  padding-inline: 8rem;
  font-weight: 600;
  color: white;
}
.btn.btn-login:hover {
  transition: 0.3s all ease;
  font-weight: bolder;
}

.admin-btn {
  font-size: 2rem;
  margin: 1rem;
  border: 1px solid lightgray;
  border-radius: 8px;
  height: 5rem;
}
.admin-btn:hover {
  background-color: #55aacc;
  font-size: x-large;
}
.admin-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}
.admin-btn a:hover {
  color: white;
}

.element-container {
  background-color: rgba(85, 170, 204, 0.15);
  border-radius: 20px;
}
.element-container button {
  font-size: 2rem;
  color: #192340;
}
.element-container button:hover {
  color: #55aacc;
  transition: 0.3s ease-in-out;
}
.element-container .element-container__img {
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  border: 0.1rem solid gainsboro;
  border-bottom: none;
}
.element-container .element-container__img img {
  border-radius: 8px;
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  max-width: 100%;
}
.element-container:hover {
  transform: scale(1.1);
  transition: 0.3s all ease;
}

#form_ordenar {
  font-size: 1.2rem;
}

@media screen and (min-width: 992px) {
  .element-container {
    -webkit-clip-path: polygon(100% 0, 95% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 95% 100%, 0 100%, 0 0);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  .element-container .element-container__img {
    border-radius: 0;
    border: none;
    justify-content: end;
  }
  .element-container .element-container__img img {
    border-radius: 0;
  }

  #search-header h2 {
    padding-left: 25%;
  }
}
#reviewModal textarea {
  font-size: 1.6rem;
  width: 100%;
  min-height: 100px;
  resize: none;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0.5rem;
  color: #666;
  box-shadow: inset 0 0 0.1rem #ddd;
}
#reviewModal textarea:focus {
  outline: none;
  border: 1px solid #d0d0d0;
  box-shadow: inset 0 0 0.5rem #d0d0d0;
}
#reviewModal textarea[placeholder] {
  font-style: italic;
  font-size: 1.2rem;
}
#reviewModal #the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

.form-control, .form-select, p {
  font-size: 1.6rem;
}

.card {
  font-size: 1.4rem;
}

.navbar-brand, h2 {
  font-family: "Lexend Deca", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
}
a:hover {
  color: #55aacc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

.form-control, .form-select, p {
  font-size: 1.6rem;
}

.card {
  font-size: 1.4rem;
}

.navbar-brand, h2 {
  font-family: "Lexend Deca", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
}
a:hover {
  color: #55aacc;
}

#header {
  background: #55aacc;
}

/* NAVBAR */
.navbar-light .navbar-brand {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-item .nav-link {
  font-size: 1.4rem;
}

@media screen and (min-width: 1200px) {
  .navbar-light .navbar-brand {
    font-size: 3rem;
  }

  .nav-item .nav-link {
    font-size: 2rem !important;
  }
}
.nav-item .nav-link {
  font-size: 1.8rem !important;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-toggler {
  background: white;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: 0.2rem 1rem;
}

.nav-link.active, .nav-link:focus {
  color: white;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 1.8rem;
  line-height: 0.3;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #F2BA52;
  font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  font-size: larger;
  color: white;
}

ul .dropdown-menu {
  background-color: transparent;
  border: none;
  text-align: center;
}
ul .dropdown-menu a {
  font-size: 1.6rem;
  color: white;
}

/* Usuario */
#user {
  color: white;
  font-size: 3rem;
}
#user:hover {
  color: #F2BA52;
  transition: 0.3s ease-in-out;
}

/* BUSCADOR */
#search__form .form-control:focus {
  border: none;
  box-shadow: none;
}

#search__form__sm-icon {
  justify-self: left;
}

@media screen and (min-width: 992px) {
  ul .dropdown-menu {
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
  }
  ul .dropdown-menu a {
    color: black;
  }
}
.contact-info h3 {
  margin-bottom: 3rem;
}

.contact-info__image {
  width: 7rem;
  border-radius: 50%;
  padding: 0.2rem;
  box-shadow: 5px 5px 13px -8px #192340;
}

/* FORM */
.form_header {
  height: 20rem;
  background-size: cover;
  background-blend-mode: multiply;
}
.form_header h3 {
  font-weight: 700;
  color: white;
  padding-top: 5rem;
}

#contact-form__container {
  background-color: rgba(106, 211, 253, 0.1);
  /*FORM*/
}
#contact-form__container button {
  overflow: visible;
}
#contact-form__container input {
  line-height: normal;
}
#contact-form__container textarea {
  overflow: auto;
}
#contact-form__container form {
  margin: 50px 0;
}
#contact-form__container .underline {
  border-bottom: solid 2px #192340;
  margin: -0.512em auto;
  width: 80px;
}
#contact-form__container .icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}
#contact-form__container .icon {
  display: block;
  fill: #192340;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}
#contact-form__container .email {
  float: right;
  width: 45%;
}
#contact-form__container input[type=text], #contact-form__container [type=email], #contact-form__container [type=tel], #contact-form__container select, #contact-form__container textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #192340;
  color: #192340;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s;
}
#contact-form__container input[type=text]:focus, #contact-form__container [type=email]:focus, #contact-form__container textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}
#contact-form__container .message {
  float: none;
}
#contact-form__container .name {
  float: left;
  width: 45%;
}
#contact-form__container .subject {
  width: 100%;
}
#contact-form__container .telephone {
  width: 100%;
}
#contact-form__container textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}
#contact-form__container ::-webkit-input-placeholder {
  color: #474544;
}
#contact-form__container :-moz-placeholder {
  color: #474544;
  opacity: 1;
}
#contact-form__container ::-moz-placeholder {
  color: #474544;
  opacity: 1;
}
#contact-form__container :-ms-input-placeholder {
  color: #474544;
}
@media screen and (max-width: 768px) {
  #contact-form__container #contact-form {
    margin: 20px auto;
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  #contact-form__container .underline {
    width: 68px;
  }
  #contact-form__container #form_button {
    padding: 15px 25px;
  }
}
@media screen and (max-width: 420px) {
  #contact-form__container .icon {
    height: 35px;
    width: 35px;
  }
  #contact-form__container .underline {
    width: 53px;
  }
  #contact-form__container input[type=text], #contact-form__container [type=email], #contact-form__container select, #contact-form__container textarea {
    font-size: 1.1rem;
  }
}

#history {
  background-color: rgba(106, 211, 253, 0.1);
}

.history__gallery {
  height: auto;
  width: 35rem;
}
.history__gallery .gallery_img {
  top: 10rem;
  position: -webkit-sticky;
  position: sticky;
  text-decoration: none;
  width: 100%;
  height: 21.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.history__gallery .gallery_img:hover {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.history__gallery a:hover .cta {
  font-size: xx-large;
  text-transform: uppercase;
  transition: 0.3s all ease;
  font-weight: 900;
  color: #F2BA52;
}

.cta {
  color: white;
  height: 21rem;
  position: relative;
  z-index: 10;
  top: 10rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}

#how-to-get-here {
  background-position: right bottom;
  background-repeat: no-repeat;
}
#how-to-get-here .hover-underline-animation {
  display: inline-block;
  position: relative;
}
#how-to-get-here .hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: -0.5rem;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
#how-to-get-here .hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#how-to-get-here h4:hover {
  font-size: xx-large;
}

#monthly-product {
  background-color: rgba(106, 211, 253, 0.1);
}
#monthly-product img {
  width: 35rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

.form-control, .form-select, p {
  font-size: 1.6rem;
}

.card {
  font-size: 1.4rem;
}

.navbar-brand, h2 {
  font-family: "Lexend Deca", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
}
a:hover {
  color: #55aacc;
}

#museum {
  background-color: rgba(106, 211, 253, 0.1);
}
#museum img {
  width: 35rem;
  top: 10rem;
  position: -webkit-sticky;
  position: sticky;
  text-decoration: none;
  width: 100%;
  height: 21.5rem;
}

#info {
  background-color: #F2BA52;
  font-size: 1.6rem;
}
#info span {
  font-weight: 600;
}

.badge.badge-sucess {
  background-color: dodgerblue;
}

.badge.badge-danger {
  background-color: mediumseagreen;
}

.badge.badge-alert {
  background-color: sandybrown;
}

#loginModal .login-body, .login-header, .login-footer {
  border: none;
}
#loginModal .login-body .login-title, .login-header .login-title, .login-footer .login-title {
  font-size: 2rem;
  justify-self: center;
  color: #000;
}

#loginModal .form-control {
  color: #000;
  margin-bottom: 2rem;
  background: transparent;
  border: none;
  height: 50px;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.103);
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s all ease;
}
#loginModal .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.8) !important;
}
#loginModal .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.8) !important;
}
#loginModal .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.8) !important;
}
#loginModal .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.8) !important;
}
#loginModal .form-control:hover, #loginModal .form-control:focus {
  background: transparent;
  outline: none;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.651);
}
#loginModal .form-control:focus {
  border-color: rgba(0, 0, 0, 0.678);
}

textarea.form-control {
  height: inherit !important;
}

.form-group {
  position: relative;
}

.field-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 1rem;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
}

.checkbox-wrap {
  color: #000;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#loginModal a {
  font-size: 1.6rem;
  transition: 0.3s all ease;
  color: #000;
}
#loginModal a:hover, #loginModal a:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none;
}

/*TITLE ICON*/
.title-icon {
  font-size: 5rem;
  font-weight: 700;
  color: #F2BA52;
}

.card {
  max-height: 12rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  border: none;
  box-shadow: 2px 3px 3px 1px #e9ecef;
  border-radius: 4px;
  overflow: auto;
}

.font-weight-bold {
  font-weight: 600;
  font-stretch: semi-condensed;
}/*# sourceMappingURL=main.css.map */