@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800&family=Montserrat:wght@300;400;700;800&display=swap');
$primaryColor: #55aacc;
$secondaryColor: #F2BA52;
$primaryColorDark: #192340;
$primaryColorLight:#6ad3fd;

$white: white;
$black: #000;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
p, h3, h4, h5, a{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 1.2rem;
}

.card{
    font-size: 1rem;
}
.navbar-brand, h2{
    font-family: 'Lexend Deca', sans-serif;
}
