//BUTTON
.btn {
	cursor: pointer;
	border-radius: 40px;
	box-shadow: none!important;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	max-height: 3rem;
	&:hover, &:active, &:focus {
		outline: none;
	}
	&.btn-primary {
		background-color:$white !important;
		border: 1px solid $white !important;
		color: black !important;
		&:hover {
			border: 1px solid $white;
			background: transparent;
			color: $white; 
        
		}
		
		
	}

	&.btn-outline-primary {
		border: 1px solid $white;
		background: transparent;
		color : $white;
		&:hover {
			border: 1px solid transparent;
			background-color: $secondaryColor;
			color :$black;
			transition: .3s all ease;
			font-weight: bolder;
			font-size: larger;
		}
	}
	
	&.btn-secondary{
		background: $secondaryColor !important;
		border: 1px solid $secondaryColor !important;
		color: black !important;
		height: 50px;
		&:hover {
			border: 1px solid $secondaryColor;
			background: transparent;
			color: $white; 
			transition: .3s all ease;
		font-weight: bolder;
		font-size: larger;
        
		}
	}
	
}