#history {
    background-color: rgba($primaryColorLight, 0.1);
}

.history__gallery {
    height: auto;
    width: 35rem;

    .gallery_img {
        top: 10rem;
        position: -webkit-sticky;
        position: sticky;
        text-decoration: none;
        width: 100%;
        height: 21.5rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.5);
            background-blend-mode: darken;

        }
    }

    a:hover .cta {
        font-size: xx-large;
        text-transform: uppercase;
        transition: .3s all ease;
        font-weight: 900;
        color: $secondaryColor
    }



}

.cta {
    color: $white;
    height: 11rem;
    position: relative;
    z-index: 10;
    top: 9rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;

}

$animate: all 0.2s ease-in-out;
#how-to-get-here {
    background-position: right bottom;
    background-repeat: no-repeat;
    .hover-underline-animation {
        display: inline-block;
        position: relative;
      }
      
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 5px;
        bottom: -0.5rem;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.5s ease-out;
      }
      
      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      h4:hover{
          font-size: xx-large;
      }
    
}