
 
#loginModal .login-body, .login-header, .login-footer{
	
	border:none;
	.login-title{
		font-size: 1.4rem;
		justify-self: center;
		color: $black;
	}
}

//FORM CONTROL
#loginModal .form-control{
	color: $black;
	margin-bottom: 2rem;
	background: transparent;
	border: none;
	height: 50px;
	border: 1px solid transparent;
	background: rgba(0, 0, 0, 0.103);
	border-radius: 40px;
	padding-left: 20px;
	padding-right: 20px;
	transition: .3s all ease;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(0, 0, 0, 0.8) !important;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(0, 0, 0, 0.8) !important;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(0, 0, 0, 0.8) !important;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: rgba(0, 0, 0, 0.8) !important;
	}
	&:hover, &:focus{
		background: transparent;
		outline: none;
		box-shadow: none;
		border-color: rgba(0, 0, 0, 0.651);
	}
	&:focus{
		border-color: rgba(0, 0, 0, 0.678);
	}
}
textarea.form-control {
	height: inherit!important;
}

.form-group{
	position: relative;
}

.field-icon {
	position: absolute;
	top: 50%;
	right: 15px;
	font-size: 1rem;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: rgb(0, 0, 0); 
}
  

//CHECKBOX STYLE
.checkbox-wrap {
	color: $black;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#loginModal a {
	font-size: 1.2rem;
	transition: .3s all ease;
	color: $black;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}

/*TITLE ICON*/
.title-icon{
	font-size: 5rem;
	font-weight: 700;
	color: $secondaryColor;
	
}