{% extends 'base.html.twig' %}
{% block title %} Error {% endblock %}
{% block main %}
    <h3>Ha sucedido un error</h3>
    <main class="w-75 mx-auto mt-5 mb-5">
    <p>
        La página solicitada no existe <a href="{{ path('app_main_menu') }}">Volver a la página principal</a>.
    </p>
    </main>
{% endblock %}{# empty Twig template #}
