{% extends 'base.html.twig' %}

{% block title %}Nuevo producto tipico{% endblock %}

{% block main %}
    
    <main class="w-75 mx-auto mt-5 mb-5">
        <h2>Añadir productos tipicos</h2>
            {{ form(formulario) }}
    </main>
{% endblock %}


